{% include 'Admin/adminHeader.html.twig' %}
{% include 'Admin/adminNav.html.twig' %}
<section>
    <h2>Rénovation et restauration</h2>
    <div class="admin-box text-forms-group">
        <form action="?route=presentationRenovation" method="post">
            <fieldset>
                <legend>Modifier le texte de présentation :</legend>
                <textarea id="summernote" name="texte">
                     {% for presentationRenovation in presentationRenovations %}
                         {{ presentationRenovation.texte }}
                     {% endfor %}
                </textarea>
                <input type="submit" class="btn btn-success" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="admin-box image-uploader">
        <span id="anchorUpload" class="anchor"></span>
        <form action="?route=adminRenovations" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Ajouter une réalisation :</legend>
                <label for="name">Titre :</label>
                <input type="text" class="form-control" name="title" id="title">

                <label for="description">Texte :</label>
                <textarea class="form-control" name="text" id="text"></textarea>
                {% if uploadErrors %}
                    <ul class="alert alert-danger">
                        {% for uploadError in uploadErrors %}
                            <li>{{ uploadError }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input id="uploadFile" class="uploaded-file-name"
                       placeholder='Choisissez l&apos;image "avant"'
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn" type="file" class="upload" name="imageBefore"/>
                </div>

                <input id="uploadFileImageAfter" class="uploaded-file-name"
                       placeholder='Choisissez l&apos;image "après"'
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="imageAfter" type="file" class="upload" name="imageAfter"/>
                </div>
                <input type="submit" class="btn btn-success" value="Ajouter" name="submit">
            </fieldset>
        </form>
        <hr>
        <div class="row uploaded-images">
            {% for renovation in renovations %}
                <div class="col-md-6">
                    <figure class="thumbnail center-block">
                        <h3 class="text-center">{{ renovation.title }}</h3>
                        <div class="col-md-6">
                            <img src="assets/uploads/{{ renovation.imageBefore }}" class="thumbnail">
                        </div>
                        <div class="col-md-6">
                            <img src="assets/uploads/{{ renovation.imageAfter }}" class="thumbnail">
                        </div>
                        <div class="titreSeparation">
                        <figcaption class="text-center">{{ renovation.text }}</figcaption>
                        </div>
                        <form class="delete-form" action="?route=deleteRenovation" method="post">
                            <input type="hidden" name="id" value="{{ renovation.id }}"/>
                            <button type="submit" class="btn btn-block btn-danger">Supprimer</button>
                        </form>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}