{% include 'Admin/adminHeader.html.twig' %}
<section>
    <h2>Image de fond Rénovation</h2>
    {% if uploadErrors %}
        <ul class="alert alert-danger">
            {% for uploadError in uploadErrors %}
                <li>{{ uploadError }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">

        <div class="col-sm-6 col-md-4 col-lg-3">
            <form action="?route=adminImageFondRenovation" method="post" enctype="multipart/form-data">
                <label name="upload">Photo à modifier :</label>
                <input type="file" name="upload" id="upload">
                <input type="submit" value="Envoyer" name="submit">
            </form>
        </div>
    </div>
    <img src="assets/uploads/imageFondRenovation.jpg" alt="Actuelle image de fond Rénovation">
</section>
<section>
    <h2>Rénovation</h2>
        <form action="?route=presentationRenovation" method="post">
            <fieldset>
                <legend>Modifier le texte de présentation:</legend>
                <textarea id="summernote" name="texte">
                     {% for presentationRenovation in presentationRenovations %}
                         {{ presentationRenovation.texte }}
                     {% endfor %}
                </textarea>
                <input type="submit" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="row">
        <form action="?route=adminRenovations" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="name">Titre</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>

            <div class="form-group">
                <label for="description">description des images</label>
                <textarea class="form-control" name="text" id="text"></textarea>
            </div>

            <div class="form-group">
                <label for="start">Selectionner l'image avant</label>
                <input type="file" name="imageBefore" id="imageBefore">
            </div>

            <div class="form-group">
                <label for="start">Selectionner l'image représentant l'après</label>
                <input type="file" name="imageAfter" id="imageAfter">
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        <hr>
        <div class="row">
            {% for renovation in renovations %}
                <div class="col-md-6">
                    <figure class="thumbnail center-block">
                        <h3>{{ renovation.title }}</h3>
                        <div class="col-md-6">
                            <img src="assets/uploads/{{ renovation.imageBefore }}">
                        </div>
                        <div class="col-md-6">
                            <img src="assets/uploads/{{ renovation.imageAfter }}">
                        </div>
                        <figcaption class="text-center">{{ renovation.text }}</figcaption>
                    </figure>
                    <form action="?route=deleteRenovation" method="post">
                        <input type="hidden" name="id" value="{{ renovation.id }}"/>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}