{% include 'Admin/adminHeader.html.twig' %}
<div class="admin-navigation">
    <a href="index.php?route=admin" class="btn btn-primary" title="Accueil de l'administration"><span
                class="glyphicon glyphicon-home"></span></a>
    <a href="index.php?route=home" target="_blank" class="btn btn-info"
       title="Ouvrir le site dans un nouvel onglet"><span class="glyphicon glyphicon-globe"></span></a>
</div>
<section>
    <h2>Plâtrerie</h2>
    <div class="admin-box text-forms-group">
        <form action="?route=presentationPlatrerie" method="post">
                <fieldset>
                    <legend>Modifier le texte de présentation :</legend>
                    <textarea id="summernote" name="texte">
                     {% for presentationPlatrerie in presentationPlatreries %}
                         {{ presentationPlatrerie.texte }}
                     {% endfor %}
                </textarea>
                </fieldset>
                <input type="submit" class="btn btn-success" value="Modifier" name="submit">
        </form>
    </div>
    <div class="admin-box image-uploader">
        <span id="anchorUpload" class="anchor"></span>
        <form action="?route=adminPlatrerie" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Ajouter une réalisation:</legend>
                <label for="titre">Titre :</label>
                <input type="text" name="titre" id="titre" placeholder="Entrez le titre" value=""
                       class="form-control"/>
                <label for="texte">Texte :</label>
                <textarea name="texte" id="texte" class="form-control"></textarea>
                <label>Image :</label>
                {% if uploadErrors %}
                    <ul class="alert alert-danger">
                        {% for uploadError in uploadErrors %}
                            <li>{{ uploadError }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input id="uploadFile" class="uploaded-file-name" placeholder="Choisissez une image..."
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn" type="file" class="upload" name="upload"/>
                </div>
                <input type="submit" class="btn btn-success" value="Ajouter" name="submit">
            </fieldset>
        </form>
        <div class="row uploaded-images">
            {% for platrerie in platreries %}
                <div class="col-md-2">
                    <figure class="thumbnail center-block">
                        <h3>{{ platrerie.titre }}</h3>
                        <img src="assets/uploads/{{ platrerie.image }}" class="img-responsive">
                        <figcaption>{{ platrerie.texte }}</figcaption>
                        <form class="delete-form" action="?route=deletePlatrerie" method="post">
                            <input type="hidden" name="id" value="{{ platrerie.id }}"/>
                            <button type="submit" class="btn btn-block btn-danger">Supprimer</button>
                        </form>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}