{% include 'Admin/adminHeader.html.twig' %}
{% include 'Admin/adminNav.html.twig' %}
<section>
    <h1>Réalisations écologiques</h1>
    <div class="admin-box image-uploader">
        <form action="?route=adminImageFondRealisation" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Image de fond :</legend>
                {% if backgroundUploadErrors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <ul>
                            {% for backgroundUploadError in backgroundUploadErrors %}
                                <li>{{ backgroundUploadError }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input id="uploadFile" class="uploaded-file-name" placeholder="Choisissez une image..."
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn" type="file" class="upload" name="upload"/>
                </div>
                <input type="submit" class="btn btn-success" value="Remplacer" name="submit">
            </fieldset>
        </form>
        <div class="uploaded-images">
            <img class="thumbnail center-block image-accueil" src="assets/uploads/imageFondRealisation.jpg"
                 alt="Actuelle image de fond Réalisations écologiques">
        </div>
    </div>
    <div class="admin-box text-forms-group">
        <span id="anchorText" class="anchor"></span>
        <form action="?route=presentationRealEco#anchorText" method="post">
            <fieldset>
                <legend>Modifier le texte de présentation :</legend>
                <textarea id="summernote" name="texte">
                     {% for presentationRealEco in presentationRealEcos %}
                         {{ presentationRealEco.texte }}
                     {% endfor %}
                </textarea>
                <input type="hidden" name="section" value="ECOLOGIE" />
                <input type="submit" class="btn btn-success" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="admin-box image-uploader">
        <span id="anchorUpload" class="anchor"></span>
        <form action="?route=adminRealEco#anchorUpload" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Ajouter une réalisation :</legend>
                <label for="titre">Titre :</label>
                <input type="text" name="titre" id="titre" placeholder="Entrez le titre" value=""
                       class="form-control"/>
                <label for="texte">Texte :</label>
                <textarea name="texte" id="texte" class="form-control"></textarea>
                {% if uploadErrors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <ul>
                            {% for uploadError in uploadErrors %}
                                <li>{{ uploadError }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <input id="uploadFile2" class="uploaded-file-name" placeholder="Choisissez une image..."
                       disabled="disabled"/>
                <div class="fileUpload btn btn-default">
                    <span>Parcourir</span>
                    <input id="uploadBtn2" type="file" class="upload" name="upload"/>
                </div>
                <input type="submit" class="btn btn-success" value="Ajouter" name="submit">
            </fieldset>
        </form>
        <div class="row uploaded-images">
            {% for realEco in realEcos %}
                <div class="col-md-2 ">
                    <figure class="thumbnail center-block">
                        <h3>{{ realEco.titre }}</h3>
                        <img src="assets/uploads/{{ realEco.image }}" class="img-responsive">
                        <figcaption>{{ realEco.texte }}</figcaption>
                        <form class="delete-form" action="?route=deleteRealEco" method="post">
                            <input type="hidden" name="id" value="{{ realEco.id }}"/>
                            <button type="submit" class="btn btn-block btn-danger">Supprimer</button>
                        </form>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}