{% include 'Admin/adminHeader.html.twig' %}

<section>
    <h2>Diaporama maçonnerie</h2>

    {% if uploadErrors %}
        <ul class="alert alert-danger">
            {% for uploadError in uploadErrors %}
                <li>{{ uploadError }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <form action="?route=presentationMaconnerie" method="post">
            <fieldset>
                <legend>Modifier le texte de présentation:</legend>
                <textarea id="summernote" name="texte">
                     {% for presentationMaconnerie in presentationMaconneries %}
                         {{ presentationMaconnerie.texte }}
                     {% endfor %}
                </textarea>
                <input type="hidden" name="section" value="MACONNERIE" />
                <input type="submit" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="row">
        <form action="?route=presentationPrestation" method="post">
            <fieldset>
                <legend>Modifier les prestations :</legend>
                <textarea id="prestation" name="texte">
                     {% for presentationPrestation in presentationPrestations %}
                         {{ presentationPrestation.texte | raw}}
                     {% endfor %}
                </textarea>
                <input type="hidden" name="section" value="PRESTATION" />
                <input type="submit" value="Modifier" name="submit">
            </fieldset>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <form action="?route=adminSlider" method="post" enctype="multipart/form-data">
                Select image to upload:
                <input type="file" name="upload">
                <input type="submit" value="Envoyer" name="submit">
            </form>
        </div>
    </div>
    <div class="row">
        {% for slide in slides %}
            <div class="col-md-2">
                <figure class="thumbnail center-block">
                    <img src="assets/uploads/{{ slide.name }}" class="img-responsive">
                </figure>
                <form action="?route=deleteSlide" method="post">
                    <input type="hidden" name="id" value="{{ slide.id }}"/>
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>

{% include 'Admin/adminFooter.html.twig' %}