<section>
    <h2>Rénovation et Restauration</h2>
    <div class="section-content">
        <div class="row">
            {% for renov in renovs %}
                <div class="col-md-5">
                    <figure class="thumbnail center-block">
                        <h3>{{ renov.title }}</h3>
                        <div class="col-md-5 col-md-offset-1">
                            <img src="assets/uploads/{{ renov.imageBefore }}" class="img-responsive">
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <img src="assets/uploads/{{ renov.imageAfter }}" class="img-responsive">
                        </div>
                        <figcaption class="text-center">{{ renov.text }}</figcaption>
                        <form action="?route=deleteRenov" method="post">
                            <input type="hidden" name="id" value="{{ renov.id }}"/>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>