<span id="anchorContact" class="anchor"></span>
<section>
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h2 class="contact-title">CONTACTEZ-NOUS</h2>
            <hr class="separator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 hidden-xs hidden-sm">
            <img class="img-responsive" src="http://via.placeholder.com/800x400" alt="photo">
        </div>
        <div class="col-md-6 col-sm-12">
            <p><span class="glyphicon glyphicon-earphone"></span> Tel: 02 38 58 27 44</p>
            <p>Pour toute demande de devis, de conseil ou autre, vous pouvez nous joindre par téléphone ou via le
                formulaire ci-dessous.</p>
            <form name="" method="POST" action="">
                <div class="form-group">
                    <label for="formLastName" class="control-label">Nom : </label>
                    <input type="text" id="formLastName" class="form-control" name="formLastName"
                           value="{{ post.formLastName ? post.formLastName }}" required>
                    <p class="errorForm">{{ formErrors['formLastName'] ? formErrors['formLastName'] }}</p>
                </div>
                <div class="form-group">
                    <label for="firstNameForm" class="control-label">Prénom : </label>
                    <input type="text" id="formFirstName" class="form-control" name="formFirstName"
                           value="{{ post.formFirstName ? post.formFirstName }}" required>
                    <p class="errorForm">{{ formErrors['formFirstName'] ? formErrors['formFirstName'] }}</p>
                </div>
                <div class="form-group">
                    <label for="formMail">Email :</label>
                    <input type="email" pattern="[a-z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$" id="formMail"
                           class="form-control"
                           name="formMail" value="{{ post.formMail ? post.formMail }}" required>
                    <p class="errorForm">{{ formErrors['formMail'] ? formErrors['formMail'] }}</p>
                </div>
                <div class="form-group">
                    <label for="formMessage">Message :</label>
                    <textarea id="formMessage" class="form-control" name="formMessage"
                              required>{{ post.formMessage ? post.formMessage : (post.modelName ? "À propos du modèle " ~ post.modelName ~ " :") }}</textarea>
                    <p class="errorForm">{{ formErrors['formMessage'] ? formErrors['formMessage'] }}</p>
                </div>
                <div class="button-contact">
                    <input class="btn btn-success btn-lg" type="submit" name="submitForm" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</section>

