<div class="row linkModal">
    <a href="#" data-toggle="modal" data-target="#imageBefore{{ renovation.id }}">
        <img src="assets/uploads/{{ renovation.imageBefore }}" class="img-renovation">
    </a>
</div>

<div class="modal modal-wide fade" id="imageBefore{{ renovation.id }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ renovation.title }}</h3>
            </div>
            <div class="modal-body infolegale">

                <img src="assets/uploads/{{ renovation.imageBefore }}" >

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

