<div class="row linkModal">
    <a class="hidden-xs" href="#" data-toggle="modal" data-target="#realEco{{ realEco.id }}">
        <img src="assets/uploads/{{ realEco.image }}" class="img-responsive">
    </a>
</div>
<a  class="visible-xs" data-target="#realEco{{ realEco.id }}">
    <img src="assets/uploads/{{ realEco.image }}" class="img-responsive">
</a>

<div class="modal modal-wide fade" id="realEco{{ realEco.id }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ realEco.titre }}</h3>
            </div>
            <div class="modal-body infolegale">

                <img src="assets/uploads/{{ realEco.image }}" >

            </div>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>